.bestMovie-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    left: 10%;
    color: $color_titre;
    font-size: $second_size;
    border-bottom: 1px solid $color_border;
  }

  .bestMovie-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bestMovie__image {
      margin: 10px;
      width: 80%;
      height: 400px; /* Ajustez la hauteur souhaitée */
      background-size: cover;
      background-position: center;
      transition: transform 0.5s;
      &:hover {
        filter: grayscale(0);
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}




.gallery__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    position: relative;
  
    h2 {
      position: absolute;
      top: -40px;
      left: 10%;
      right: 0;
      margin: 0;
      text-align: left;
      color: $color_titre;
      font-size: $second_size;
    }

.gallery {
    width: 80%;
    display: flex;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none ;
    }
  
    &__liste {
      border-top: 1px solid $color_border;
      width: 200%;
      display: flex;
      grid-template-columns: auto auto auto auto auto auto auto;
      grid-gap: 20px;
      padding: 10px;
      flex: none;
  
      &__films {
        width: 200%;
        filter: grayscale(50%);
        transition: transform 0.5s;
  
        &:hover {
          filter: grayscale(0);
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
   
    .backBtn,
    .nextBtn {
      position: absolute;
      width: 40px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .backBtn {
      left: 5%;
    }
  
    .nextBtn {
      right: 5%;
    }
  }