.gallery__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    position: relative;
  
    h2 {
      position: absolute;
      top: -40px;
      left: -1500px;
      right: 0;
      margin: 0;
      text-align: center;
      color: $color_titre;
      font-size: $first_size;
    }

.gallery {
    width: 1800px;
    display: flex;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  
    &__liste {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      grid-gap: 20px;
      padding: 10px;
      flex: none;
  
      &__films {
        width: 100%;
        filter: grayscale(100%);
        transition: transform 0.5s;
  
        &:hover {
          filter: grayscale(0);
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
   
    .backBtn,
    .nextBtn {
      position: absolute;
      width: 50px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .backBtn {
      left: 250px;
    }
  
    .nextBtn {
      right: 250px;
    }
  }
  