.footer-container{
  background-color: $background_color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.footer {
    padding: 20px;
    // Autres styles spécifiques au footer

    &-section{
      display: flex;
      flex-direction: column;
      align-items: center;
 

      font-size: $thrid_size;
    }
    &__title {
      color: $color_titre;
      font-size: 18px;
      margin-bottom: 10px;
      // Styles pour les titres de section
    }
  
    &__text {
      font-family: $fontfamily_special;
      margin-bottom: 5%;
      // Styles pour les paragraphes de texte
    }
  
    &__list {
      font-family: $fontfamily_special;
      list-style: none;
      padding: 0;
      // Styles pour les listes
    }
  
    &__link {
      color: $first_color;
      text-decoration-line: none;
      // Styles pour les liens du footer
    }
  
    &__social-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      // Styles pour les icônes de médias sociaux
  
      li {
        list-style: none;
        margin-right: 0%;
        // Styles pour chaque icône

        img{
          width: 3%;
          height: auto;
        }
      }
    }
  
    .bottom-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      font-size: $second_size;
      // Styles pour le bas du footer
      &__text{
        font-size: $thrid_size;
      }
    }
  }