.header {
    background-color: $background_color;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10em;
    padding-left: 5em;
    margin-top: 2.6em;
    border-top: 2px solid $color_border;
    border-bottom: 2px solid $color_border;
    // Autres styles spécifiques à l'en-tête

    &__logo {
      max-width: 80px;
      height: auto;
      padding-right: 2em;
      // Styles pour le logo
      @media (max-width: 599px) {
        padding-right: 1em;
        max-width: 100px;
      }
    }
  
    &__title {
      font-family: $fontfamily_titre;
      color: $color_titre;
      font-size: $first_size;
      margin-left: 20px;
      @media (max-width: 599px) {
        margin-left: 10px;
      }
      // Styles pour le titre de l'en-tête
    }

    &__nav {
      margin-left: auto;
      // Styles pour la navigation


      .sous_menu{
        background-color: $background_color;
        border-bottom: $color_border solid 1px;
        border-left: $color_border solid 1px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        top: 100%;
        left: 0;
        z-index: 1; // Permet de mettre au premier plan
  
        li {
          display: inline-block;
          position: relative;
          margin-right: 50px;
          margin-top: 15px;

          a {
            color: $first_color;
            text-decoration: none;
            margin-left: 10px;
            font-family: $fontfamily_special;
            padding-right: 1em;
            padding-left: 1em;
            white-space: nowrap; /* Empêcher le texte de se diviser sur plusieurs lignes */


            // Styles pour chaque lien de navigation
  
            &:hover {
              color: $color_hover;
            }
  
            &:active {
              color: $color_active;
            }
          }
  
          ul {
            display: none;
            position: absolute;
  
            li {
              display: block;
              width: 100%;
            }
          }
  
          &:hover ul {
            display: block;
          }
        }
      }
    }
  }