.header {
    background-color: $background_color;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10em;
    padding-left: 5em;
    margin-top: 2.6em;
    border-top: 2px solid $color_titre;
    // Autres styles spécifiques à l'en-tête
  
    &__logo {
      max-width: 80px;
      height: auto;
      padding-right: 2em;
      // Styles pour le logo
    }
  
    &__title {
      font-family: $fontfamily_titre;
      color: $color_titre;
      font-size: $first_size;
      margin-left: 20px;
      // Styles pour le titre de l'en-tête
    }
  
    &__nav {
      margin-left: auto;
      // Styles pour la navigation
  
      &-link {
        color: $first_color;
        text-decoration: none;
        margin-left: 10px;
        font-family: $fontfamily_special;
        font-size: $second_size;
        padding-right: 1em;
        padding-left: 1em;
        // Styles pour chaque lien de navigation
        &:hover{
          color: $color_hover;
        &:active{
          color: $color_active;
        }
        }
      }
    }
  }