// dialog overlay
.c-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 2.4rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(black, .75);
  transition: .2s;
}

// dialog box
.c-dialog__box {
  flex: 1;
  max-width: 48rem;
  margin: auto;
  padding: 2.4rem;
  background-color: $background_color;
  color: $color_base;
  @media (max-width: 599px) {
    max-width: 90%; /* Ajustez la largeur souhaitée pour la version mobile */
    padding: 1.6rem; /* Ajustez le padding souhaité pour la version mobile */
  }
  &__0{
    display: flex;
    flex-direction: row;
    @media (max-width: 599px) {
      flex-direction: column; /* Afficher les éléments en colonne pour la version mobile */    }
  }
  &__1{
    display: flex;
    flex-direction: column;
    @media (max-width: 599px) {
      margin-bottom: 1.6rem; /* Ajouter une marge inférieure pour l'image dans la version mobile */
    }  
  }
  &__2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-top: 55px;
    @media (max-width: 599px) {
      margin-left: 0; /* Réinitialiser la marge gauche pour la version mobile */
      margin-top: 1.6rem; /* Ajouter une marge supérieure pour les informations dans la version mobile */
    }
  }
  .btnCloseModal{
    color: $first_color;
    background-color: $color_titre;
    border-radius: 50%;
    font-size: $second_size;
    border: none;
    font-size: 1.2em ;
    &:hover{
      color: black;
    }
  }

  h2{
    color: $color_titre;
    font-family: $fontfamily_soustitre;
    font-size: $first_size;
    @media (max-width: 599px) {
      text-align: center;
    }
  }
  img{
    width: 20em;
    height: auto;
    margin-bottom: 1.6rem;
    margin-right: 10px;
    border-right: $color_border solid 1px;
    @media (max-width: 599px) {
      width: 75%; /* Ajustez la largeur souhaitée pour l'image dans la version mobile */
      border-right: none; /* Supprimer la bordure droite de l'image dans la version mobile */
      margin: 0 auto; /* Centrer l'image horizontalement */    
    }
  }
  p{
    margin-bottom: 1rem;
  }
  p strong{
    color: $color_titre;
  }
}

// hidden dialog
.c-dialog[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
}


