body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  color: white;
  background-image: url(file:///C:/Users/thoma/Desktop/OpenClassrooms/Parcours%20DA%20PYTHON/Projet_6/public/images/binding_dark.webp);
}

.gallery__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
  position: relative;
}
.gallery__wrap h2 {
  position: absolute;
  top: -40px;
  left: 250px;
  right: 0;
  margin: 0;
  text-align: left;
  color: #2069EB;
  font-size: 2em;
}
.gallery__wrap .gallery {
  width: 1800px;
  display: flex;
  overflow: scroll;
}
.gallery__wrap .gallery::-webkit-scrollbar {
  display: none;
}
.gallery__wrap .gallery__liste {
  width: 200%;
  display: flex;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gallery__wrap .gallery__liste__films {
  width: 200%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}
.gallery__wrap .gallery__liste__films:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
.gallery__wrap .backBtn,
.gallery__wrap .nextBtn {
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.gallery__wrap .backBtn {
  left: 180px;
}
.gallery__wrap .nextBtn {
  right: 170px;
}

.header {
  background-color: #121212;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10em;
  padding-left: 5em;
  margin-top: 2.6em;
  border-top: 2px solid #2069EB;
}
.header__logo {
  max-width: 80px;
  height: auto;
  padding-right: 2em;
}
.header__title {
  font-family: "lobster", arial;
  color: #2069EB;
  font-size: 2em;
  margin-left: 20px;
}
.header__nav {
  margin-left: auto;
}
.header__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__nav ul li {
  display: inline-block;
  position: relative;
}
.header__nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-family: "Secular One", sans-serif;
  font-size: 1em;
  padding-right: 1em;
  padding-left: 1em;
}
.header__nav ul li a:hover {
  color: #2069EB;
}
.header__nav ul li a:active {
  color: #0099FF;
}
.header__nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.header__nav ul li ul li {
  display: block;
}
.header__nav ul li:hover ul {
  display: block;
}

.footer {
  padding: 20px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 0.8em;
}
.footer__title {
  color: #2069EB;
  font-size: 18px;
  margin-bottom: 10px;
}
.footer__text {
  margin-bottom: 8px;
}
.footer__list {
  list-style: none;
  padding: 0;
}
.footer__link {
  color: white;
  text-decoration-line: none;
}
.footer__social-media {
  display: flex;
  align-items: center;
}
.footer__social-media li {
  margin-right: 10px;
}
.footer .bottom-footer {
  margin-top: 20px;
}
.footer .bottom-footer p {
  font-size: 1em;
}

.footer-container {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6em;
  padding-bottom: 1em;
  padding-left: 1em;
}

/*# sourceMappingURL=style.css.map */
