$color_titre : #2069EB;
$first_color : white;
$color_hover : #2069EB;
$color_active : #0099FF;

$background_color : #121212;
$background_image :  url(file:///C:/Users/thoma/Desktop/OpenClassrooms/Parcours%20DA%20PYTHON/Projet_6/public/images/binding_dark.webp);

$fontfamily_titre : "lobster", arial;
$fontfamily_soustitre : "Cinzel", serif;

$first_size: 2em;
$second_size: 1em;