$color_base : white;
$color_titre : #2069EB;
$color_border : #2069EB;
$first_color : white;
$color_hover : #2069EB;
$color_active : #0099FF;

$background_color : #121212;
$background_image :  url(file:///C:/Users/thoma/Desktop/OpenClassrooms/Parcours%20DA%20PYTHON/Projet_6/public/images/binding_dark.webp);

$fontfamily_titre : "lobster", arial;
$fontfamily_soustitre : "Cinzel", serif;
$fontfamily_special : "Secular One", sans-serif;

$first_size: 2em;
$second_size: 1.4em;
$thrid_size : 0.8em;

$grande_largeur_affiche :  70em;
$grande_longeur_affiche : 30em;
$moyenne_largeur_affiche : 18em;
$moyenne_longeur_affiche : auto;
$petite_largeur_affiche : 7em;
$petite_longeur_affiche : auto;
